<html>

<body>
    <li>
        <form action="/jogo-da-velha/novo">
            Novo Jogo<br>
            <label> Jogador 1: </label><input type="text" name="jogador1"><br>
            <label> Jogador 2: </label><input type="text" name="jogador2"><br>
            <button type="submit">Criar</button>
        </form>
        <form action="/jogo_da_velha">
            <label>Selecione um Jogo: </label><input type="text" name="jogo">
            <button type="submit">Entrar</button>
        </form>
    </li>
</body>
</html>