<html>
<head>
    <style>
        #jogo {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0px;
            width: 330px;
        }

        .tile {
            width: 100px;
            height: 100px;
            background-color: bisque;
        }
    </style>
</head>
<body>

{% if vencedor %}
Jogador {{vencedor}} venceu! <br>
{% endif %}

Jogador 1 (X): {{jogador1}}
<br>
Jogador 2 (O): {{jogador2}}
<br>
Proximo a jogar: {{proximo}}

<div id="jogo">
    {% for tile in board %}
    {% if tile is None %}
    <a href="?jogo={{id_jogo}}&tile={{forloop.counter}}"><div class="tile"></div></a>
    {% else %}
    <div class="tile">{{tile}}</div>
    {% endif %}
    {% endfor %}
    <button>teste</button>
</div>
</body>
</html>