<html>
<head>
    <style>
        #jogo {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0px;
            width: 330px;
        }

        .tile {
            width: 100px;
            height: 100px;
            background-color: bisque;
        }

        .tile-btn {
            border: none;
            background-color: transparent;
            color: transparent;
            width: 100px;
            height: 100px;
            border-radius: 0;
        }
    </style>
</head>
<body>

{% if vencedor %}
Jogador {{vencedor}} venceu! <br>
{% endif %}

Jogador 1 (X): {{jogador1}}
<br>
Jogador 2 (O): {{jogador2}}
<br>
Proximo a jogar: {{proximo}}

<div id="jogo">
    {% for tile in board %}
    {% if tile is None %}
    <form action="/jogo-da-velha/" method="post">
        <input type="hidden" value="{{id_jogo}}" name="jogo">
        <input type="hidden" value="{{senha}}" name="senha">
        <input type="hidden" value="{{forloop.counter}}" name="tile">
        <div class="tile"><button class="tile-btn" type="submit"></button></div>
        {% csrf_token %}
    </form>
    {% else %}
    <div class="tile">{{tile}}</div>
    {% endif %}
    {% endfor %}
    <button>teste</button>
</div>
</body>
</html>